<!DOCTYPE html>
<html lang="en">
<head>
  {{ partial "headtag.html" . }}
  {{ partial "scripts.html" . }}
</head>
<body>

  {{ partial "navbar.html" . }}
  
  <header class="mb--3">
    {{ partial "header.html" . }}
  </header>
  <main>
    <div class="container">

      <section id="usage" class="mb--3">
        <h3 class="py--1"><a id="howtouse"></a><span class="highlight--danger">How To Use</span></h3>
        {{ block "howtouse" . }}{{ end }}
      </section>

      <section id="layout" class="mb--3">
        <h3 class="py--1"><span class="highlight--danger">Layouts</span></h3>
        {{ block "columns" . }}{{ end }}
        {{ block "flexbox" . }}{{ end }}
        {{ block "heros" . }}{{ end }}
      </section>

      <section id="components" class="mb--3">
        <h3 class="py--1"><span class="highlight--danger">Components</span></h3>
        {{ block "badge" . }}{{ end }}
        {{ block "highlight" . }}{{ end }}
        {{ block "float" . }}{{ end }}
        {{ block "card" . }}{{ end }}
        {{ block "buttons" . }}{{ end }}
        {{ if .Site.IsServer }}
          {{ block "custombtn" . }}{{ end }}
        {{ else }}
        {{ end }}
        {{ block "notification" . }}{{ end }}
        {{ block "dropdowns" . }}{{ end }}
        {{ block "navbars" . }}{{ end }}
      </section>
      
      <section id="utilities" class="mb--3">
        <h3 class="py--1"><span class="highlight--danger">Utilities</span></h3>
        {{ block "margin" . }}{{ end }}
        {{ block "padding" . }}{{ end }}
        {{ block "bgcolor" . }}{{ end }}
        {{ block "border" . }}{{ end }}
        {{ block "typography" . }}{{ end }}
        {{ block "shadows" . }}{{ end }}
      </section>
    
    </div>
  </main>
  <footer class="bg--dark">
    {{ partial "footer.html" . }}
  </footer>
</body>
</html>