<!DOCTYPE html>
<html lang="en">
<head>
  {{ partial "headtag.html" . }}
  {{ partial "scripts.html" . }}
</head>
<body>
  <header class="hero bg--dark gradient mb--3">
    <div class="hero__content">
      <div class="container pb--2">
        <h1 class="py--2">{{ .Title }} Docs</h1>
        <h2 class="pb--2">{{ .Param "description" }} <span class="highlight--warning">No JS required!</span></h2>
        <p><a class="rounded--full bg--info pa--1" href="https://github.com/KawanuaDev/gorangocss/releases/latest" target="_blank" rel="noopener noreferrer"><i class="typcn typcn-download"></i> Download</a></p>
      </div>
    </div>
  </header>
  <main>
    <div class="container">

      <section id="usage" class="mb--3">
        <h3 class="py--1"><span class="highlight--danger">How To Use</span></h3>
        {{ block "howtouse" . }}{{ end }}
      </section>

      <section id="layout">
        <h3 class="py--1"><span class="highlight--danger">Layouts</span></h3>
        {{ block "columns" . }}{{ end }}
        {{ block "flexbox" . }}{{ end }}
        {{ block "heros" . }}{{ end }}
      </section>

      <section id="components" class="mb--3">
        <h3 class="py--1"><span class="highlight--danger">Components</span></h3>
        {{ block "badge" . }}{{ end }}
        {{ block "highlight" . }}{{ end }}
        {{ block "float" . }}{{ end }}
        {{ block "card" . }}{{ end }}
        {{ block "buttons" . }}{{ end }}
        {{ block "notification" . }}{{ end }}
      </section>
      
      <section id="utilities" class="mb--3">
        <h3 class="py--1"><span class="highlight--danger">Utilities</span></h3>
        {{ block "margin" . }}{{ end }}
        {{ block "padding" . }}{{ end }}
        {{ block "bgcolor" . }}{{ end }}
        {{ block "border" . }}{{ end }}
        {{ block "typography" . }}{{ end }}
        {{ block "shadows" . }}{{ end }}
      </section>
    
    </div>
  </main>
  <footer class="bg--dark">
    <div class="container">
      <div class="columns py--5">
        <p>
          Released under the MIT License.<br>
          © 2020 <a href="https://kawanua.id" target="_blank" rel="noopener noreferrer">Kawanua ID.</a>
        </p>
      </div>
    </div>
  </footer>
  <!-- {{ partial "scripts.html" . }} -->
</body>
</html>