body {
  font: {
    family: 'Fira Sans', sans-serif;
  }
}

pre, code, kbd, samp {
  font: {
    family: 'Fira Mono', monospace !important;
    size: .8rem !important;
  }
}

pre, code {
  display: block;
  line-height: 1.8;
}

kbd {
  background-color: whitesmoke;
  border-radius: .3rem;
  display: inline-block;
  padding: .2rem;
  vertical-align: baseline;
}

.class, .preview {
  background-image: url('data:image/svg+xml,%3Csvg width="64" height="64" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z" fill="%239C92AC" fill-opacity="0.05" fill-rule="evenodd"/%3E%3C/svg%3E');
  border-color: whitesmoke !important;
}

.preview {
  justify-content: space-evenly;
}

.navbar--fixed {
  width: 100vw;
  position: fixed;
}


// -----------------------

.navbart {
  padding: .75rem;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__burger {
    display: none;
  }

  &__logo {
    padding: 8px;
    
    a {
      color: black;
      text: {
        transform: uppercase;
        decoration: none;
      }
      font: {
        weight: 700;
        size: 18px;
      }
      letter-spacing: 0;
    }
  }
  
  ul {
    float: right;
    
    li {
      display: inline-block;
      // float: left;
      
      &:not(:first-child) {
        margin-left: 48px;
      }
      &:last-child {
        margin-right: 24px;
      }
      
      a {
        outline: none;
        // display: inline-block;
        // color: black;
        text: {
          transform: uppercase;
          decoration: none;
        }
        font: {
          size: 14px;
          weight: 600;
        }
        letter-spacing: 1.2;
      }
    }
  }
}


@media screen and (max-width: 864px) {
  .navbart__logo {
    padding: 0;
  }

  .navbart__container {
    flex-direction: column;

    > div {
      margin-top: .25rem;
      margin-bottom: .25rem;
    }
  }
  
  .navbart__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: white;
    opacity: 0;
    transition: all 0.2s ease;
    // margin: 0 !important;
    
    ul {
      position: absolute;
      top: 22rem;
      transform: translateY(-50%);
      width: 100%;
      
      li {
        display: block;
        float: none;
        width: 100%;
        text-align: right;
        margin-bottom: 10px;
        
        &:nth-child(1) a {
          transition-delay: 0.2s;
        }
        &:nth-child(2) a {
          transition-delay: 0.3s;
        }
        &:nth-child(3) a {
          transition-delay: 0.4s;
        }
        &:nth-child(4) a {
          transition-delay: 0.5s;
        }
        &:not(:first-child) {
          margin-left: 0;
        }
        a {
          padding: 10px 24px;
          opacity: 0;
          color: black;
          font: {
            size: 14px;
            weight: 600;
          }
          letter-spacing: 1.2;
          transform: translateX(-20px);
          transition: all 0.2s ease;
        }
      }
    }
  }
  
  .navbart__burger {
    position: fixed;
    right: 1.2rem;
    display: block !important;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
    
    span {
      display: block;
      width: 20px;
      height: 2px;
      background: black;
      border-radius: 2px;
      margin-left: 14px;
      
      &:nth-child(1) {
        margin-top: 16px;
      }
      &:nth-child(2) {
        margin-top: 4px;
        opacity: 1;
      }
      &:nth-child(3) {
        margin-top: 4px;
      }
    }
  }
}

#navt {
  &:checked {
    + .navbart__burger {
      transform: rotate(45deg);

      span {
        background: black;
        transition: transform 0.2s ease;

        &:nth-child(1) {
          transform: translateY(6px) rotate(180deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: translateY(-6px) rotate(90deg);
        }
      }
    }

    ~ .navbart__wrapper {
      z-index: 9990;
      opacity: 1;
      
      ul {
        li {
          a {
            opacity: 1;
            transform: translateX(0);
          }
        }
      }

      .dropdown__menu {
        display: block;
        position: initial;

        .dropdown__content {
          box-shadow: none;
          border-radius: 0;
          display: flex;
          flex-wrap: wrap;
        }
      }
    }
  }
}

