<div class="hero bg--dark--gradient">
  <div class="hero__content">
    <div class="container">
      {{ if .IsHome }}
        <h1 class="py--3">{{ .Param "description" }} <span class="highlight--warning">No JS required!</span></h1>
        {{ if .Site.IsServer }}
          <div class="mb--4">
            <a class="button bg--danger rounded--6 mr--1" href="#" target="_blank" rel="noopener noreferrer"><span>📦 Download v1.0.0</span></a>
            <a class="button -outline-light rounded--6" href="https://docs.gorangocss.kawanua.id" target="_blank" rel="noopener noreferrer"><span>📚 Documentation</span></a>
          </div>
        {{ else }}
          <div class="mb--3">
            {{ $latestver := getJSON "https://api.github.com/repos/KawanuaDev/gorangocss/releases/latest" }}
            <a class="button rounded--6 bg--crimson txt--white mr--1" href="{{ $latestver.zipball_url }}" target="_blank" rel="noopener noreferrer"><span>📦 Download {{ $latestver.tag_name }}</span></a>
            <a class="button rounded--6 bg--light" href="https://docs.gorangocss.kawanua.id" target="_blank" rel="noopener noreferrer"><span>📚 Documentation</span></a>
          </div>
        {{ end }}
      {{ else }}
        <h1 class="pt--2">{{ .Page.Title }}</h1>
        <p class="mb--2">{{ .Page.Description }}</p>
      {{ end }}
    </div>
  </div>
</div>
