<div class="hero bg--dark--gradient">
  <div class="hero__content">
    <div class="container">
      {{ if .IsHome }}
        <h1 class="py--2">{{ .Title }} Docs</h1>
        <h2 class="mb--2">{{ .Param "description" }} <span class="highlight--warning">No JS required!</span></h2>
        {{/*  <p class="pb--3"><a class="rounded--full bg--info pa--1" href="https://github.com/KawanuaDev/gorangocss/releases/latest" target="_blank" rel="noopener noreferrer">📦 Download</a></p>  */}}

      {{ else }}
        <h1 class="py--2">{{ .Page.Title }}</h1>

      {{ end }}
    </div>
  </div>
</div>
