<nav class="navbar">
  <div class="navbar__container">
    <input type="checkbox" id="nav" class="hidden">
    <label class="column navbar__burger" for="nav">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </label>
    <div class="navbar__logo">
        <a href="/">{{ .Site.Title }}</a>
    </div>
    <div class="column navbar__wrapper">
      <ul>
        <li><a href="#howtouse">Howto Use</a></li>
        <li class="dropdown">
          <a href="#">Layouts</a>
          <div class="dropdown__menu">
            <div class="dropdown__content">
              <a class="dropdown__item" href="#columns">Columns</a>
              <a class="dropdown__item" href="#flexbox">Flex</a>
              <a class="dropdown__item" href="#heros">Hero</a>
            </div>
          </div>
        </li>
        <li class="dropdown">
          <a href="#">Components</a>
          <div class="dropdown__menu">
            <div class="dropdown__content">
              <a class="dropdown__item" href="#badges">Badge</a>
              <a class="dropdown__item" href="#highlight">Highlight</a>
              <a class="dropdown__item" href="#float">Float</a>
              <a class="dropdown__item" href="#card">Card</a>
              <a class="dropdown__item" href="#buttons">Buttons</a>
              <a class="dropdown__item" href="#notification">Notice</a>
              <a class="dropdown__item" href="#dropdowns">Dropdown</a>
              <a class="dropdown__item" href="#navbars">Navbar</a>
            </div>
          </div>
        </li>
        <li class="dropdown">
          <a href="#">Utilities</a>
          <div class="dropdown__menu">
            <div class="dropdown__content">
              <a class="dropdown__item" href="#margin">Margin</a>
              <a class="dropdown__item" href="#padding">Padding</a>
              <a class="dropdown__item" href="#background">Background Color</a>
              <a class="dropdown__item" href="#border">Border</a>
              <a class="dropdown__item" href="#border-radius">Rounded Border</a>
              <a class="dropdown__item" href="#headers">Headers</a>
              <a class="dropdown__item" href="#fontsize">Font Size</a>
              <a class="dropdown__item" href="#fontweight">Font Weight</a>
              <a class="dropdown__item" href="#textcolor">Text Color</a>
              <a class="dropdown__item" href="#textalign">Text Align</a>
              <a class="dropdown__item" href="#texttransform">Text Transform</a>
              <a class="dropdown__item" href="#shadows">Shadow</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>