<!-- <script src="https://static.my.id/libs/jquery/3.5.1/jquery.min.js"></script>
{{ $main := resources.Get "scripts/main.js" }}
{{ $prism := resources.Get "scripts/prism.js" }}
{{ $defaultJS := slice $main | resources.Concat "scripts/global.js" }}
{{ $script := $defaultJS }}
{{ $globalJS := $script | resources.Minify | resources.Fingerprint }}
<script src="{{ $globalJS.Permalink }}" integrity="{{ $globalJS.Data.Integrity }}"></script> -->
{{ if .Site.IsServer }}
{{ else }}
{{ partial "analytics.html" . }}
{{ end }}