{{ define "main" }}
  <h1 class="py--2">
    {{ .Title }} Docs
  </h1>
  <h2 class="pb--2">
    {{ .Param "description" }}
  </h2>

  <section id="components">
    <h3 class="py--1">Components</h3>
    <div class="typography">
      <div class="fontweight">
        <h4 class="pb--1">Font Weight</h4>
        <p class="pb--1">
          {{ $hairline := "<span class=\"hairline\">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, quae!</span>" }}
          {{ $fonthairline := "<span class=\"font--hairline\">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, quae!</span>" }}
          {{ $f100 := "<span class=\"font--100\">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, quae!</span>" }}
          <pre class="bg--whitesmoke pt--1 mb--1">
  {{ $hairline }}
  {{ $fonthairline }}
  {{ $f100 }}
          </pre>
          <div class="preview py--1 px--1 mb--2 border--1">
            {{ $f100 | safeHTML }}
          </div>
        </p>
        <p class="pb--1">
          {{ $xlight := "<span class=\"xlight\">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, quae!</span>" }}
          {{ $fontxlight := "<span class=\"font--xlight\">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, quae!</span>" }}
          {{ $f200 := "<span class=\"font--200\">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, quae!</span>" }}
          <pre class="bg--whitesmoke pt--1 mb--1">
  {{ $xlight }}
  {{ $fontxlight }}
  {{ $f200 }}
          </pre>
          <div class="preview py--1 px--1 mb--2 border--1">
            {{ $f200 | safeHTML }}
          </div>
        </p>
        <p class="pb--1">
          {{ $light := "<span class=\"light\">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, quae!</span>" }}
          {{ $fontlight := "<span class=\"font--light\">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, quae!</span>" }}
          {{ $f300 := "<span class=\"font--300\">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, quae!</span>" }}
          <pre class="bg--whitesmoke pt--1 mb--1">
  {{ $light }}
  {{ $fontlight }}
  {{ $f300 }}
          </pre>
          <div class="preview py--1 px--1 mb--2 border--1">
            {{ $f300 | safeHTML }}
          </div>
        </p>
        <p class="pb--1">
          {{ $regular := "<span class=\"regular\">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, quae!</span>" }}
          {{ $fontregular := "<span class=\"font--regular\">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, quae!</span>" }}
          {{ $f400 := "<span class=\"font--400\">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, quae!</span>" }}
          <pre class="bg--whitesmoke pt--1 mb--1">
  {{ $regular }}
  {{ $fontregular }}
  {{ $f400 }}
          </pre>
          <div class="preview py--1 px--1 mb--2 border--1">
            {{ $f400 | safeHTML }}
          </div>
        </p>
        <p class="pb--1">
          {{ $medium := "<span class=\"medium\">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, quae!</span>" }}
          {{ $fontmedium := "<span class=\"font--medium\">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, quae!</span>" }}
          {{ $f500 := "<span class=\"font--500\">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, quae!</span>" }}
          <pre class="bg--whitesmoke pt--1 mb--1">
  {{ $medium }}
  {{ $fontmedium }}
  {{ $f500 }}
          </pre>
          <div class="preview py--1 px--1 mb--2 border--1">
            {{ $f500 | safeHTML }}
          </div>
        </p>
        <p class="pb--1">
          {{ $semibold := "<span class=\"semibold\">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, quae!</span>" }}
          {{ $fontsemibold := "<span class=\"font--semibold\">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, quae!</span>" }}
          {{ $f600 := "<span class=\"font--600\">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, quae!</span>" }}
          <pre class="bg--whitesmoke pt--1 mb--1">
  {{ $semibold }}
  {{ $fontsemibold }}
  {{ $f600 }}
          </pre>
          <div class="preview py--1 px--1 mb--2 border--1">
            {{ $f600 | safeHTML }}
          </div>
        </p>
        <p class="pb--1">
          {{ $bold := "<span class=\"bold\">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, quae!</span>" }}
          {{ $fontbold := "<span class=\"font--bold\">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, quae!</span>" }}
          {{ $f700 := "<span class=\"font--700\">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, quae!</span>" }}
          <pre class="bg--whitesmoke pt--1 mb--1">
  {{ $bold }}
  {{ $fontbold }}
  {{ $f700 }}
          </pre>
          <div class="preview py--1 px--1 mb--2 border--1">
            {{ $f700 | safeHTML }}
          </div>
        </p>
        <p class="pb--1">
          {{ $xbold := "<span class=\"xbold\">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, quae!</span>" }}
          {{ $fontxbold := "<span class=\"font--xbold\">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, quae!</span>" }}
          {{ $f800 := "<span class=\"font--800\">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, quae!</span>" }}
          <pre class="bg--whitesmoke pt--1 mb--1">
  {{ $xbold }}
  {{ $fontxbold }}
  {{ $f800 }}
          </pre>
          <div class="preview py--1 px--1 mb--2 border--1">
            {{ $f800 | safeHTML }}
          </div>
        </p>
        <p class="pb--1">
          {{ $heavy := "<span class=\"heavy\">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, quae!</span>" }}
          {{ $fontheavy := "<span class=\"font--heavy\">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, quae!</span>" }}
          {{ $f900 := "<span class=\"font--900\">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, quae!</span>" }}
          <pre class="bg--whitesmoke pt--1 mb--1">
  {{ $heavy }}
  {{ $fontheavy }}
  {{ $f900 }}
          </pre>
          <div class="preview py--1 px--1 mb--2 border--1">
            {{ $f900 | safeHTML }}
          </div>
        </p>
      </div>
      <div class="color">
        <h4 class="pb--1">Text Color</h4>
        <p class="pb--1">
          {{ $txtnavy := "<span class=\"txt--navy\">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, quae!</span>" }}
          {{ $txtpink := "<span class=\"txt--pink\">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, quae!</span>" }}
          {{ $txtmediumseagreen := "<span class=\"txt--mediumseagreen\">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, quae!</span>" }}
          <pre class="bg--whitesmoke pt--1 mb--1">
  {{ $txtnavy }}
  {{ $txtpink }}
  {{ $txtmediumseagreen }}
          </pre>
          <div class="preview py--1 px--1 mb--2 border--1">
            {{ $txtnavy | safeHTML }}<br>
            {{ $txtpink | safeHTML }}<br>
            {{ $txtmediumseagreen | safeHTML }}<br>
          </div>
        </p>
      </div>
    </div>
  </section>
{{ end }}